<form action="/answer" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>

<%# # method="get" ?? + name ="??"%>

<%= link_to "Ask a new question", answer_path %>
